 body{
	padding: 5vh;
 }
  
 #main{
 }
 
 #col-container{
	display: flex;
 }
 
 #col1{
	display: flex;
	flex-direction: column;
	flex-basis: 34%;
 }

 #col2{
	display: flex;
	flex-direction: column;
	flex-basis: 66%;
 }
 
 label{
	display: none;
 }
 
 fieldset{
	flex-direction: column;
	display: flex;
 }
 
 #submit,
 #grammar{
 }
 
 textarea{
	resize: none;
 }
 
 #rules{
	height: 15em;
 }
 
 #error-list,
 #visualization-list,
 #result-list,
 #visualization,
 #results,
 #errors{
	margin: 2px;
	padding: 10px;
	border: solid 1px gray;
 }
 
 #[[ERRORS_OR_RESULTS]]{
	display: none;
 }
 
 #error-list,
 #visualization-list,
 #result-list{
	height: 60vh;
	overflow: auto;
 }
 
 .error{
	margin: 5px;
	border: solid gray 1px;
 }
 
.node-body{
	padding: 20px;
	border: solid 2px black;
	border-top: 0px;
	
}
.expand{
	background-color: lightgreen;
	width: 2em;
	height: 2em;
	margin-right:10px;
	border: solid black 2px;
}
.leaf-node,
.node-head{
  padding:  5px;
	margin-top: 20px;
	background-color: lightyellow;
	border: solid black 2px;
}
.leaf-node{
	padding-left: 10px;
}
.tree-head{
	background-color: lightgreen;
	padding: 10px;
	padding-left: 20px;
	border: solid black 2px;
}
.tree-body{
	padding: 20px;
	border: solid 2px black;
	border-top: 0px
}
 .vtree,
 .ptree{
 }

  #header{
	display: flex;
	padding: 10px;
	margin: 20px 0px;
	border: black solid 1px;
  }

  #help,
  #about-grammars,
  #load-examples,
  #credits{
	flex: 1;
	text-align: center;
	margin: 5px;
	border: black solid 1px;
	padding: 5px;
  }

  #example-list{
	display: none;
  }
  #load-examples:hower #example-list{
	display: block;
  }
  
  

#example-list {
  display: none;
  position: absolute;
  background-color: white;
  
}

#example-list div {
  padding: 12px 16px;
}


#load-examples:hover #example-list {display: block;}

#visualization{
	display: block;
}

#visualization label{
	display: inline;
}



